<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" parallel="tests">
    <test name="Test chrome">
        <parameter name="browser" value="chrome">
            <classes>
<!--                <class name="com.solvd.project.HomePageTest"/>-->
<!--                <class name="com.solvd.project.LoginPageTest"/>-->
<!--                <class name="com.solvd.project.ClientPageTest"/>-->
                <class name="com.solvd.project.CatalogTest"/>
            </classes>
        </parameter>
    </test>
    <test name="Test firefox">
        <parameter name="browser" value="firefox">
            <classes>
<!--                <class name="com.solvd.project.HomePageTest"/>-->
<!--                <class name="com.solvd.project.LoginPageTest"/>-->
<!--                <class name="com.solvd.project.ClientPageTest"/>-->
                <class name="com.solvd.project.CatalogTest"/>
            </classes>
        </parameter>
    </test>
</suite>